@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
  background-image: url('../public/images/background.png');
  background-size: cover;
}

.bg-custom-board-background {
  background-image: url('../public/images/boardBackground.png');
  background-size: cover;
}
