@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-custom-background {
  background-image: url('/images/background.png');
  background-size: cover;
}

.bg-custom-board-background {
  background-image: url('/images/boardBackground.png');
  background-size: cover;
}
